{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

{% image self.banner_image fill-1300x400 as img %}
<div class="jumbotron" style="background-image: url('{{ img.url }}'); color:aliceblue">
  <h1 class="display-4">{{ self.banner_title }}</h1>
  <p class="lead">{{self.banner_subtitle|richtext}}</p>
  <hr class="my-4">
  <p>Learning wagtail development with yet another cat website.</p>
 {% if self.banner_cta %}
  <a class="btn btn-dark btn-lg" href="#" role="button">@todo</a>
 {% endif %}
</div>

  {% for block in page.content %}
  {% include_block block %}
  {% endfor %}



{% if settings.site_settings.SocialMediaSettings.twitter %}
 <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom" aria-describedby="tooltip192314">
   <a href="{{settings.site_settings.SocialMediaSettings.twitter}}"> <i class="fab fa-twitter-square fa-2x"> </i></a>
 </button>
{% endif %}

{% endblock %}
